html {
	font-family: Sans-Serif;
	color: #333;
}

.logo {
	max-width:256px;
}

h1, h2, h3, main, footer {
    margin: 0 auto;
}

h1, h2, h3 {
    color: #666;
}

main {
    max-width: 960px;
}

a:visited > h1 {
	color: #333;
	text-decoration: none;
}

a {
    color: #000;
    text-decoration: none;
}

